* {
    padding: 0;
    margin: 0;
}
.alert-success {
    background-color: rgb(0, 255, 0)
}

.alert-warning {
    background-color: rgb(224, 224, 0);
}

.alert-danger {
    background-color: rgb(151, 0, 0);
}

.alert-info {
    background-color: teal;
}
nav{
    background-color: black;
    height: 50px;
}
nav li{
    list-style-type: none;
    width: 100px;
    float: left;
    text-align: center;
}
nav li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    transition: 250ms background-color;
}
#double_line{
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    transition: 250ms background-color;
    line-height: 25px;
}
#double_line:hover{
    background-color: skyblue;
    color: black;
    transition-delay: 0ms;
}
li a:hover{
    background-color: skyblue;
    color: black;
    transition-delay: 0ms;
}
#profile li{
    background-color: black;
    height: 50px;
}
div li{
    list-style-type: none;
    width: 100px;
    float: left;
    text-align: center;
}
#profile p{
    font-size: 20px;
}
div li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    transition: 250ms background-color;
}
form div{
    padding: 20px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;  
    font-size: 17px;
    border-radius: 5px;;
}
body{
    height: 100%;
    width: 100%;
    color: rgb(57, 57, 58);
    background: linear-gradient(180deg, #2bff00, #bcffaf);
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #2bff00, #bcffaf);
    height: 110%;
    width: 100%;
    font-size: 15px;
}
#competition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #2bff00, #bcffaf);
    height: 122%;
    width: 100%;
}
#paging{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 5px;
    text-align:center;
}
#pagingw{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:5%;
    padding: 10px;
    text-align:center;
}
#pagingw li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 50%;
    padding: 10px;
    text-align:center;
}
#pagingw li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 50%;
    padding: 10px;
    text-align:center;
}
#paging li {
    list-style-type: none;
    width: 100px;
    float: left;
    text-align: center;
}
#paging li a{
    font-size:20px;
    text-decoration: none;
    color: white;
    line-height: 30px;
    background-color: black;
    transition: 250ms background-color;
}
#paging a:hover{
    background-color: skyblue;
    color: black;
    transition-delay: 0ms;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#scores{
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
}
#score2{
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
}
#scoreform{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
}
#srot{
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;

} 
input[type="text"], input[type ="Number"], input[type="password"], input[type="email"]{
    font-size: 16px;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
}

input[type="submit"]{
    font-size: 16px;
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
}

input[type="submit"]:hover{
    background-color: skyblue;
    color: black;
    transition-delay: 0ms;
}
